sphinx
sphinx_rtd_theme
docutils
pybtex
setuptools
sphinxcontrib-bibtex
myst_parser
sphinxcontrib.apa
sphinx_opensearch
sphinx_design
sphinx-sitemap
readthedocs-sphinx-search
opensearch-py
sphinxcontrib.datatemplates